@model OrderVM
@{
    ViewData["Title"] = "Checkout";
    Layout = "_Layout-Checkout";
    decimal total = default;
    @foreach (BasketItem userBasket in Model.BasketItems)
    {
        if (userBasket.Book.DiscountId != null)
        {
            (total += (userBasket.Price - ((userBasket.Price * userBasket.Book.Discount.DiscountPercent) / 100)) * userBasket.Count).ToString();
        }
        else
        {
            (total += userBasket.Price * userBasket.Count).ToString();
        }

    }
    decimal totalView = total;
    int id = default;
    foreach (var city in Model.Country.Cities)
    {
        id = city.Id;
    }
    ViewBag.CityId = id;
}

<main>
    @ViewBag.CityId
    <section id="data-payment" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12" style="border-right: 1px solid #e6e6e6; height: 90vh;">

                    <div class="data-user">
                        <h3 class="title">Checkout</h3>
                        <div class="payments row bg-light">
                            <div class="col-lg-6 shopping d-flex">
                                <span>
                                    <svg width="20" height="19" xmlns="http://www.w3.org/2000/svg"
                                         class="order-summary-toggle__icon">
                                        <path d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z">
                                        </path>
                                    </svg>
                                </span>
                                <div class="show-hide d-flex ms-2">
                                    <div class="orders">
                                        <span class="order show">Show order summary</span>
                                        <span class="order hide">Hide order summary</span>
                                    </div>
                                    <div class="down-up mt-1 ms-1">
                                        <i class="fa-solid fa-angle-down down btn-manager"></i>
                                        <i class="fa-solid fa-angle-up up btn-manager"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="product-datas mt-2">
                                @foreach (BasketItem item in Model.BasketItems)
                                {
                                    <div class="book-infos d-flex justify-content-between">
                                        <div class="book-image">
                                            <sup class="sup">@item.Count</sup>
                                            <img src="assets/Image/Library/@item.Book.BookImages.FirstOrDefault(b => b.IsMain == true)?.ImagePath" alt="">
                                        </div>
                                        <div class="book-name d-flex align-items-center justify-content-end">
                                            <p>@item.Book.Name</p>
                                        </div>
                                        <div class="book-price d-flex align-items-center">
                                            <p>$</p>
                                        </div>
                                    </div>
                                }
                                <div class="product-price">
                                    <div class="subtotal d-flex justify-content-between">
                                        <small>Subtotal</small>
                                        <p>$420.00</p>
                                    </div>
                                    <div class="shipping d-flex justify-content-between">
                                        <small>Shipping</small>
                                        <p>$18.78</p>
                                    </div>
                                </div>
                                <div class="total-price d-flex justify-content-between">
                                    <p>Total</p>
                                    <span><small>USD</small> $438.78</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shiping-address mt-5">
                        <p>Shipping address</p>

                        <form class="row g-3" method="post">
                            <div class="col-12">
                                <select size="1" autocomplete="shipping country" data-backup="country"
                                        class=" field__input field__input--select mb-4" aria-required="true" asp-for="Country"
                                        name="checkout[shipping_address][country]"
                                        placeholder="Country/region">
                                    <option data-code="AZ" selected="selected" value="@Model.Country">@Model.Country.Name</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label asp-for="FirstName">FirstName</label>
                                <input asp-for="FirstName" class="form-control" placeholder=""><br />
                                <span asp-validation-for="FirstName" class="text text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label asp-for="LastName">LastName</label>
                                <input asp-for="LastName" class="form-control" placeholder=""><br />
                                <span asp-validation-for="LastName" class="text text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" class="form-control" id="inputEmail4" placeholder="Email">
                                <span asp-validation-for="LastName" class="text text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label asp-for="UserName">Username</label>
                                <input asp-for="UserName" class="form-control" id="inputEmail4" placeholder="Username">
                            </div>
                            <div class="col-12">
                                <label class="form-label">Address</label>
                                <input type="text" class="form-control" asp-for="Address" placeholder="Address">
                            </div>
                            <div class="col-12">
                                <select style="height: 50px;" class="col-12" size="1" asp-for="@Model.Country.CityId" asp-items="@(new SelectList(ViewBag.Cities,"Id","Name"))"></select>
                            </div>
                            <div class="col-12 mt-3">
                                <span>Special instructions for seller</span>
                                <textarea asp-for="Message" type="text" cols="83" rows="7" class="mt-2" autofocus></textarea>
                            </div>
                            @*<div class="col-12">

                                    @foreach (Delivery delivery in Model.Deliveries)
                                    {
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex">
                                                <input type="checkbox" style="width: 20px; height: 20px; border-radius: 50%;">
                                                <h6 class="ms-2">@delivery.Name</h6>
                                            </div>
                                            <h5 class="">+@delivery.Price $</h5>
                                        </div>
                                    }
                                </div>*@

                            <div class="col-12 row mt-4">
                                <div class="col-lg-6 col-md-12  d-flex align-items-center">
                                    <span>
                                        <i class="fa-solid fa-chevron-left"></i><span class="ms-1">
                                            <a href="Product.html">Return to cart</a>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-lg-6 col-md-12 submit-btn">
                                    <button type="submit" class="btn btn-dark btn-sub">
                                        Continue to
                                        shipping
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="col-lg-6 bg-light product-transaction" style="height: 90vh;">
                    <div class="payments-large row bg-light">
                        @foreach (BasketItem basketItem in Model.BasketItems)
                        {
                            <div class="product-datas-large mt-2">
                                <div class="book-infos d-flex justify-content-between">
                                    <div class="book-image">
                                        <sup class="sup">@basketItem.Count</sup>
                                        <img src="~/assets/Image/Library/@basketItem.Book.BookImages.FirstOrDefault(b => b.IsMain == true)?.ImagePath" alt="">
                                    </div>
                                    <div class="book-name d-flex align-items-center justify-content-end">
                                        <p>@basketItem.Book.Name</p>
                                    </div>
                                    <div class="book-price d-flex align-items-center">
                                        <p>$@basketItem.Book.Price</p>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="product-price">
                            <div class="subtotal d-flex justify-content-between">
                                <small>Subtotal</small>
                                <p>$@totalView</p>
                            </div>
                            <div class="shipping d-flex justify-content-between">
                                <small>Shipping</small>
                                <p>
                                    $

                                </p>
                            </div>
                        </div>
                        <div class="total-price d-flex justify-content-between">
                            <p>Total</p>
                            <span><small>USD</small> $@totalView</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section Checkout{
    <script src="~/assets/Js/transaction.js"></script>
}

