@model BookVM
@{
    ViewData["Title"] = "Best Seller";

}


<main>
    <section id="navbars" class="">
        <nav class="navbar d-flex " style="background-color: transparent;">
            <div class="container">
                <div class="row w-100">
                    <div class="pages col-lg-8">
                        <ul class="d-flex justify-content-around">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="controll">
                                <a href="Collections.html" class="category">
                                    <span>Categories</span><span class="ms-3">
                                        <i class="fa-solid fa-sort-down"></i>
                                    </span>

                                </a>

                                <div class="container fluid">
                                    <div class="row">
                                        @foreach (BookAuthor book in Model.BookAuthors.Take(4))
                                        {
                                            <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                                                <div class="book">
                                                    <img src="/assets/Image/Library/@book.Book.BookImages.FirstOrDefault(i => i.IsMain == true).ImagePath" alt="">
                                                    <div class="book-info">
                                                        <a href="">
                                                            <span>@book.Book.Name</span><span class="ms-2">$@book.Book.Price</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </li>
                            <li><a asp-controller="Brand" asp-action="Brands">Brands</a></li>
                            <li><a asp-controller="Best" asp-action="Best">Best Sellers</a></li>
                            <li class="page-controller">
                                <a href="">
                                    <span>Pages</span><span class="ms-3">
                                        <i class="fa-solid fa-sort-down"></i>
                                    </span>
                                </a>
                                <div class="site-pages">
                                    <ul>
                                        <li><a asp-controller="About" asp-action="About">About Us</a></li>
                                        <li><a asp-controller="Blog" asp-action="Blogs">Blog</a></li>
                                        <li><a asp-controller="FAQ" asp-action="FAQ">FAQ's</a></li>
                                        <li><a asp-controller="Contact" asp-action="Contact">Contact us</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <button class="navbar-toggler bars" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                    <span>Menu</span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" style="color: black;" id="offcanvasNavbarLabel">Offcanvas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black;" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" style="color: black;" href="#"
                                   id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                    <li><a class="dropdown-item" style="color: black;" href="#">Action</a></li>
                                    <li>
                                        <a class="dropdown-item" style="color: black;" href="#">Another action</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" style="color: black;" href="#">
                                            Something else
                                            here
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" style="color: black;"
                                    type="submit">
                                Search
                            </button>
                        </form>
                    </div>
                    <div class="container fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                                <div class="book">
                                    <img src="/assets/Image/Category Book/shop-new-100.webp" alt="">
                                    <div class="book-info">
                                        <a href=""><span>Endless Summer</span><span class="ms-2">$210</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                                <div class="book">
                                    <img src="/assets/Image/Category Book/shop-new-30.webp" alt="">
                                    <div class="book-info">
                                        <a href=""><span>Fresh Healthy Eat</span><span class="ms-2">$110</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="book">
                                    <img src="/assets/Image/Category Book/shop-new-4.webp" alt="">
                                    <div class="book-info">
                                        <a href=""><span>Book for a Cause</span><span class="ms-2">$110</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                                <div class="book">
                                    <img src="/assets/Image/Category Book/shop-new-95_b0b53360-a171-427b-9dc6-0bf965bcfdae.webp"
                                         alt="">
                                    <div class="book-info">
                                        <a href=""><span>Adventurous Eating</span><span class="ms-2">$500</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    <section id="intro">
        <div class="container">
            <div class="write  d-flex justify-content-center align-items-center">
                <div class="texts">
                    <h4 class="text-center">Collection</h4>
                    <ul class="d-flex justify-content-around">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a href="">Product</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="collection-section" class="py-5">

        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-3">
                    <a asp-controller="Book" asp-action="Index" class="d-flex justify-content-end clear">Clear All</a>
                    <div class="byPrice mt-5">
                        <h4>Shop By Price</h4>
                        <div class="row">
                            @foreach (FilteringPrice price in Model.FilteringPrices)
                            {
                                <div class="price col-lg-4" style="padding: 0px;">
                                    <div class="prices text-center filter" style="width: 90%;">
                                        <a asp-controller="Best"
                                           asp-route-page="@ViewBag.CurrentPage"
                                           asp-action="Best" asp-route-minimum="@price.MinimumPrice" asp-route-maximum="@price.MaximumPrice"><small>$@price.MinimumPrice</small>-<small>$@price.MaximumPrice</small></a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="byFormat mt-5">
                        <h4>Shop By Format</h4>
                        <div class="row">
                            @foreach (Format format in Model.Formats)
                            {
                                <div class="format col-lg-4">
                                    <div class="formats text-center filter">
                                        <a asp-route-format="@format.Name"><small>@format.Name</small></a>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="byLanguage mt-5">
                        <h4>Shop By Language</h4>
                        <div class="row">
                            @foreach (Language language in Model.Languages)
                            {
                                <div class="language col-lg-4">
                                    <div class="languages text-center filter">
                                        <a asp-controller="Best" asp-action="Best" asp-route-language="@language.Name"><small>@language.Name</small></a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="byAuthor mt-5">
                        <h4>Shop By Author</h4>
                        <div class="row">

                            @foreach (Author author in Model.Authors)
                            {
                                <div class="author col-lg-5">
                                    <div class="authors  text-center filter">
                                        <a asp-controller="Best" asp-action="Best" asp-route-author="@author.FullName"><small>@author.FullName</small></a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="byTopic mt-5">
                        <h4>Shop By Topic</h4>
                        <div class="row">
                            @foreach (Category category in Model.Categories)
                            {
                                <div class="author col-lg-4">
                                    <div class="authors  text-center filter">
                                        <a asp-controller="Best" asp-action="Best" asp-route-category="@category.Name"><small>@category.Name</small></a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <h4 class="mt-5">Best Selers</h4>
                    <div class="bookSlider mt-5 col-lg-12">
                        <div class="sliderItem">
                            <div class="sliders d-flex">
                                @foreach (BookAuthor book in Model.BookAuthors.OrderByDescending(b => b.Id).Where(b => b.Book.IsBest == true))
                                {
                                    <div class="slider">
                                        <div class="slider-book">
                                            <div class="images">
                                                <div class="more-icon">
                                                    <div class="more">
                                                        <a href=""><i class="fa-solid fa-link"></i></a>
                                                    </div>
                                                    <div class="more">
                                                        <a href=""><i class="fa-solid fa-heart"></i></a>
                                                    </div>
                                                    <div class="more">
                                                        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                                                    </div>
                                                </div>
                                                <img src="/assets/Image/Library/@book.Book.BookImages.FirstOrDefault(i => i.IsMain == true)?.ImagePath" alt="">
                                            </div>
                                            <div class="detail mt-3">
                                                <p>
                                                    @foreach (BookAuthor author in Model.BookAuthors.Where(a => a.BookId == book.Id))
                                                    {
                                                        @author.Author.FullName.ToString();
                                                    }
                                                </p>
                                                <strong>@book.Book.Name</strong>
                                                <p>
                                                    @if (book.Book.DiscountId != null)
                                                    {
                                                        <span>$@(book.Book.Price - ((book.Book.Price * book.Book.Discount?.DiscountPercent) / 100))</span>
                                                        <span class="ms-2"><del>$@book.Book.Price</del></span>
                                                    }
                                                    else
                                                    {
                                                        <span>$@book.Book.Price</span>
                                                    }

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="btns d-flex">
                            <div class="btn leftBtn">
                                <i class="fa-solid fa-angle-left"></i>
                            </div>
                            <div class="btn rightBtn">
                                <i class="fa-solid fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="container">
                        <div class="filtered row justify-content-between align-items-center">
                            <div class="systems d-flex align-items-center col-lg-4 mb-3">
                                <div class="grid system"><i class="fa-solid fa-grip"></i></div>
                                <div class="list system"><i class="fa-solid fa-list"></i></div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <small>Paginate by</small>
                                <select name="" id="">
                                    <option value=""><a href="">1</a></option>
                                    <option value=""><a href="">2</a></option>
                                    <option value=""><a href="">3</a></option>
                                </select>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <small>Sort by</small>
                                <form action="/Book/Index" method="post">
                                    <select id="">
                                        <option value="">Featured</option>
                                        <option value="">Best selling</option>
                                        <option value="">Alphabetcally,A-Z</option>
                                        <option value="">Alphabetcally,Z-A</option>
                                        <option value="@ViewBag.High">Price,high to low</option>
                                    </select>
                                </form>

                            </div>
                        </div>
                        <div class="row booking mt-5">
                            @foreach (BookAuthor sellBook in Model.BookAuthors.Take(6).Where(b => b.Book.IsBest == true))
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="info-book">
                                        <div class="images">
                                            <div class="more-icon">
                                                <div class="more">
                                                    <a href=""><i class="fa-solid fa-link"></i></a>
                                                </div>
                                                <div class="more">
                                                    <a href=""><i class="fa-solid fa-heart"></i></a>
                                                </div>
                                                <div class="more">
                                                    <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                                                </div>
                                            </div>
                                            <img src="/assets/Image/Library/@sellBook.Book.BookImages.FirstOrDefault(i => i.IsMain == true).ImagePath" alt="">
                                        </div>
                                        <div class="detail mt-3">
                                            <p>
                                                @sellBook.Author.FullName.ToUpper().ToString()
                                            </p>
                                            <strong>@sellBook.Book.Name</strong><br />
                                            @if (sellBook.Book.DiscountId != null)
                                            {
                                                <span>$@(sellBook.Book.Price - ((sellBook.Book.Price * sellBook.Book.Discount.DiscountPercent) / 100))</span>
                                                <span><del>$@sellBook.Book.Price</del></span>
                                            }
                                            else
                                            {
                                                <span>@sellBook.Book.Price</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                            <nav aria-label="Page navigation example" class="pagination">
                                <ul class="pagination">

                                    @{
                                        int page = !string.IsNullOrEmpty(Context.Request.Query["page"]) ? int.Parse(Context.Request.Query["page"]) : 0;
                                    }
                                    <li class="page-item">
                                        <a class="page-link text-light @((page - 1) <= 0 ? "disabled" : "")" asp-route-page="@(page-1)" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    @for (int i = 1; i <= ViewBag.TotalPage; i++)
                                    {
                                        <li class="page-item ">
                                            <a class="page-link counter text-light @( page == i ? "bg-dark" : "")"
                                               asp-controller="Best" asp-action="Best"
                                               asp-route-minimum="@ViewBag.CurentMinimum"
                                               asp-route-maximum="@ViewBag.CurrentMaximum"
                                               asp-route-category="@ViewBag.CurentCategory"
                                               asp-route-language="@ViewBag.CurentLanguage"
                                               asp-route-format="@ViewBag.CurentFormat"
                                               asp-route-page="@i">@i</a>
                                        </li>
                                    }
                                    <li class="page-item">
                                        <a class="page-link text-light @(page == ViewBag.TotalPage ? "disabled" : "")" asp-route-page="@(page+1)" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts{
    <script src="~/assets/Js/collection.js"></script>
    <script src="~/assets/Js/search.js"></script>
}

