@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<ContactForm>

@{
    ViewData["Title"] = "Index";
}

<h1>User messages</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                FullName
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Message
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Phone
                </td>
                <td>
                    @item.Message
                </td>

            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new X.PagedList.Web.Common.PagedListRenderOptionsBase
{
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" }
})

