@{
    BasketVM basket = await service.GetBasket();
    List<BasketItem> userBaskets = await service.UserBasket();
    decimal total = default;
    @foreach (BasketItem userBasket in userBaskets)
    {
        if (userBasket.Book.DiscountId != null)
        {
            (total += (userBasket.Price - ((userBasket.Price * userBasket.Book.Discount.DiscountPercent) / 100)) * userBasket.Count).ToString();
        }
        else
        {
            (total += userBasket.Price * userBasket.Count).ToString();
        }

    }
    decimal totalView = total;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
          integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
          integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/assets/scss/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/scss/css/style.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="search-section py-3">
            <div class="search-input">
                <form method="get" class="d-flex justify-content-center">
                    <input type="search" placeholder="Search our Store" value="@ViewBag.Search" name="searching">
                    <div class="search-icon">
                        <button type="submit" asp-controller="Search" asp-action="Search"><i class="fa-solid fa-magnifying-glass"></i></button>    
                    </div>
                </form>
            </div>
            <div class="xmark-remove">
                <i class="fa-solid fa-xmark remove"></i>
            </div>
        </div>
        <nav class="d-flex align-items-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="customer-function  col-lg-4 col-md-4 col-sm-4">
                        <ul class="d-flex">
                            <li>
                                <a href="" class="navbar-toggler bar" data-bs-toggle="offcanvas"
                                   data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <sup>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            @userBaskets.Count
                                        }
                                        else
                                        {
                                            @basket?.Count
                                        }
                                    </sup>
                                </a>
                                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                                     aria-labelledby="offcanvasRightLabel">
                                    <div class="offcanvas-header" style="border-bottom: 1px solid #e9e9e9;">
                                        <h5 class="offcanvas-title" id="offcanvasRightLabel">Your cart</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        <div class="container basket">
                                            <div class="row">
                                                @if (User.Identity.IsAuthenticated)
                                                {

                                                    @if (userBaskets != null)
                                                    {
                                                        @foreach (var userBasket in userBaskets)
                                                        {
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 py-4" style="border-bottom: 1px solid #e9e9e9;">
                                                                <div class="book d-flex">
                                                                    <img src="/assets/Image/Library/@userBasket.Book.BookImages.FirstOrDefault(i => i.IsMain == true)?.ImagePath" alt="">
                                                                    <div class="book-info">
                                                                        <a href="" class="">
                                                                            <span class="ms-2">@userBasket.Book.Name</span>
                                                                        </a>
                                                                        <div class="ms-2">
                                                                            <span><strong>@userBasket.Count</strong></span> x
                                                                            <span>
                                                                                <strong>
                                                                                    $
                                                                                    @if (userBasket.Book.DiscountId != null)
                                                                                    {
                                                                                        @(userBasket.Book.Price - ((userBasket.Book.Price * userBasket.Book.Discount.DiscountPercent) / 100))
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        @userBasket.Book.Price
                                                                                    }
                                                                                </strong>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <strong>In your cart isn't product!</strong>
                                                    }

                                                }
                                                else
                                                {
                                                    @if (basket != null)
                                                    {
                                                        @foreach (BasketItemVM item in basket.BasketItemVMs)
                                                        {
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 py-4" style="border-bottom: 1px solid #e9e9e9;">
                                                                <div class="book d-flex">
                                                                    <img src="/assets/Image/Library/@item.Book.BookImages.FirstOrDefault(i => i.IsMain == true)?.ImagePath" alt="">
                                                                    <div class="book-info">
                                                                        <a href="" class="">
                                                                            <span class="ms-2">@item.Book.Name</span>
                                                                        </a>
                                                                        <div class="ms-2">
                                                                            <span><strong>@item.Count</strong></span> x <span>
                                                                                <strong>
                                                                                    $
                                                                                    @if (item.Book.DiscountId != null)
                                                                                    {
                                                                                        @(item.Book.Price - ((item.Book.Price * item.Book.Discount.DiscountPercent) / 100))
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        @item.Book.Price
                                                                                    }
                                                                                </strong>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <strong>In your cart isn't product!</strong>
                                                    }
                                                }
                                                <div class="d-flex justify-content-between py-3" style="border-bottom: 1px solid #e9e9e9;">
                                                    <strong>Total:</strong>
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        @if (userBaskets != null)
                                                        {
                                                            <span>@totalView</span>
                                                        }
                                                        else
                                                        {
                                                            <span>$0.00</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @if (basket != null)
                                                        {
                                                            <span>$@basket.TotalPrice</span>
                                                        }
                                                        else
                                                        {
                                                            <span>$0.00</span>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                @if (userBaskets != null)
                                                {
                                                    <a asp-controller="Basket" asp-action="Cart" class="btn btn-danger w-100 mt-3" style="border-radius: 0px;">View Cart</a>
                                                }
                                                else
                                                {
                                                    <a asp-controller="EmptyBasket" asp-action="Empty" class="btn btn-danger w-100 mt-3" style="border-radius: 0px;">View Cart</a>
                                                }
                                            }
                                            else
                                            {
                                                @if (basket != null)
                                                {
                                                    <a asp-controller="Basket" asp-action="Cart" class="btn btn-danger w-100 mt-3" style="border-radius: 0px;">View Cart</a>
                                                }
                                                else
                                                {
                                                    <a asp-controller="EmptyBasket" asp-action="Empty" class="btn btn-danger w-100 mt-3" style="border-radius: 0px;">View Cart</a>

                                                }
                                            }
                                            <a asp-controller="Order" asp-action="Checkout" class="btn btn-danger w-100 mt-3" style="border-radius: 0px;">Proceed to Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-clone"></i></a></li>
                        </ul>
                    </div>
                    <div class="logo col-lg-4 col-md-4 col-sm-4">
                        <img src="/assets/Image/Logo/@service.GetData().Result.FirstOrDefault(l => l.Key == "HeaderLogo").Value" alt="">
                    </div>
                    <div class="service col-lg-4 col-md-4 col-sm-4">
                        <ul class="d-flex">
                            <li>
                                <select name="" id="">
                                    <option value="">Usd</option>
                                </select>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a asp-controller="Account" asp-action="Edit">@User.Identity.Name</a></li>
                                <li><a asp-controller="Account" asp-action="Logout">Log out</a></li>
                            }
                            else
                            {
                                <li><a asp-controller="Account" asp-action="Login"><i class="fa-solid fa-id-badge"></i></a></li>
                            }
                            <li><i class="fa-solid fa-magnifying-glass show"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <section id="footer-section" class="py-3">
            <div class="container">
                <div class="row text-light mt-5">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <h2>@service.GetData().Result.FirstOrDefault(l => l.Key == "FooterLogo").Value</h2>
                        <p>
                            @service.GetData().Result.FirstOrDefault(a => a.Key == "Address").Value
                            @service.GetData().Result.FirstOrDefault(p => p.Key == "Number").Value
                            @service.GetData().Result.FirstOrDefault(e => e.Key == "Email").Value
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <h3>Help</h3>
                        <ul>
                            <li><a href="">Search</a></li>
                            <li><a href="">Help</a></li>
                            <li><a href="">Information</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Shipping Information</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="">Search Teams</a></li>
                            <li><a href="">Advanced Search</a></li>
                            <li><a href="">Help and FAQs</a></li>
                            <li><a href="">Store Location</a></li>
                            <li><a href="">Order & Retutns</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <h3>Information</h3>
                        <ul>
                            <li><a href="">Contact</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Carrers</a></li>
                            <li><a href="">Refund & Returns</a></li>
                            <li><a href="">Deliveries</a></li>
                        </ul>
                    </div>
                </div>
                <div class="social text-light col-lg-12 d-flex">
                    <div class="social-icons">
                        <i class="@service.GetData().Result.FirstOrDefault(i => i.Key == "Google").Value"></i>
                        <i class="@service.GetData().Result.FirstOrDefault(i => i.Key == "Twitter").Value"></i>
                        <i class="@service.GetData().Result.FirstOrDefault(i => i.Key == "Facebook").Value"></i>
                        <i class="@service.GetData().Result.FirstOrDefault(i => i.Key == "Tumbrl").Value"></i>
                        <i class="@service.GetData().Result.FirstOrDefault(i => i.Key == "Instagram").Value"></i>
                        <i class="@service.GetData().Result.FirstOrDefault(i => i.Key == "Pinterest").Value"></i>
                    </div>
                </div>
            </div>
            <div class="endl text-light text-center">
                <div class="licence d-flex align-items-center justify-content-center" ">
                    <p>© 2022 Bookly-theme | <a href="" style=" text-decoration: none; color: white;">Design Themes</a></p>
                </div>
            </div>
        </section>
    </footer>
    <div class="circle">
        <i class="fa-solid fa-up-long"></i>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    @RenderSection("Scripts", required: false)

</body>
</html>
