@model Book
@{
    ViewData["Title"] = "Create";
}

<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
<form method="post" enctype="multipart/form-data">
    <div>
        <label class="mb-3">Book name:</label><br />
        <input asp-for="Name" class="form-control" /><br />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div>
        <label class="mb-3">Book price:</label><br />
        <input asp-for="Price" class="form-control" /><br />
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div>
        <label class="mb-3">Book stock:</label><br />
        <input asp-for="Stock" class="form-control" /><br />
        <span class="text-danger" asp-validation-for="Stock"></span>
    </div>
    <div>
        <label class="mb-3">Book Description:</label><br />
        <input asp-for="Description" class="form-control" /><br />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div>
        <label class="mb-3">Book discount:</label><br />
        <select asp-for="DiscountId" class="form-control" asp-items="@(new SelectList(ViewBag.Discounts,"Id","DiscountPercent"))"></select><br />
        <span class="text-danger" asp-validation-for="DiscountId"></span>
    </div>
    <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" asp-for="IsDailyDeal" />
        <span class="form-check-label" asp-validation-for="IsDailyDeal">
            Daily Deal
        </span>
    </div>
    <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" asp-for="IsBest" />
        <span class="form-check-label" asp-validation-for="IsBest">
            Best
        </span>
    </div>
    <div>
        <label class="mb-3">Book Language:</label><br />
        <select class="form-control" asp-for="LanguageId" asp-items="@(new SelectList(ViewBag.Languages,"Id","Name"))"></select>
        <span class="text-danger" asp-validation-for="LanguageId"></span>
    </div>
    <div>
        <label class="mb-3">Book Format:</label><br />
        <select class="form-control" asp-for="FormatId" asp-items="@(new SelectList(ViewBag.Formats,"Id","Name"))"></select>
        <span class="text-danger" asp-validation-for="FormatId"></span>
    </div>
    <div>
        <label class="mb-3">Book Author(-s):</label><br />
        <select class="form-control" asp-for="AuthorIds" asp-items="@(new SelectList(ViewBag.Authors,"Id","FullName"))"></select>
        <span class="text-danger" asp-validation-for="AuthorIds"></span>
    </div>
    <div>
        <label class="mb-3">Book Category(-ies):</label><br />
        <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))"></select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>
    </div>
    <div>
        <label class="mb-3">Plant main image:</label><br />
        <input asp-for="MainImage" class="form-control" accept="image/*" /><br />
        <span class="text-danger" asp-validation-for="MainImage"></span>
    </div>
    <div>
        <label class="mb-3">Plant another images:</label><br />
        <input asp-for="AnotherImages" class="form-control" accept="image/*" /><br />
        <span class="text-danger" asp-validation-for="AnotherImages"></span>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Create book</button>
    </div>
</form>

