@model Book
@{
    ViewData["Title"] = "Edit";
}

<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
<form method="post" enctype="multipart/form-data">
    <div>
        <label class="mb-3">Book name:</label><br />
        <input asp-for="Name" class="form-control" /><br />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div>
        <label class="mb-3">Book price:</label><br />
        <input asp-for="Price" class="form-control" /><br />
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div>
        <label class="mb-3">Book stock:</label><br />
        <input type="number" asp-for="Stock" class="form-control" /><br />
        <span class="text-danger" asp-validation-for="Stock"></span>
    </div>
    <div>
        <label class="mb-3">Book Description:</label><br />
        <input asp-for="Description" class="form-control" /><br />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div>
        <label class="mb-3">Book discount:</label><br />
        <select asp-for="DiscountId" class="form-control" asp-items="@(new SelectList(ViewBag.Discounts,"Id","DiscountPercent"))"></select><br />
        <span class="text-danger" asp-validation-for="DiscountId"></span>
    </div>
    <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" asp-for="IsDailyDeal" />
        <span class="form-check-label" asp-validation-for="IsDailyDeal">
            Daily Deal
        </span>
    </div>
    <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" asp-for="IsBest" />
        <span class="form-check-label" asp-validation-for="IsBest">
            Best
        </span>
    </div>
    <div>
        <label class="mb-3">Book Language:</label><br />
        <select class="form-control" asp-for="LanguageId" asp-items="@(new SelectList(ViewBag.Languages,"Id","Name"))"></select>
        <span class="text-danger" asp-validation-for="LanguageId"></span>
    </div>
    <div>
        <label class="mb-3">Book Format:</label><br />
        <select class="form-control" asp-for="FormatId" asp-items="@(new SelectList(ViewBag.Formats,"Id","Name"))"></select>
        <span class="text-danger" asp-validation-for="FormatId"></span>
    </div>
    <div>
        <label class="mb-3">Book Author(-s):</label><br />
        <select class="form-control" asp-for="AuthorIds">
            @foreach (Author author in ViewBag.Authors)
            {
                if (Model.BookAuthors.FirstOrDefault(f => f.AuthorId == author.Id) != null)
                {
                    <option value="@author.Id" selected>@author.FullName</option>
                }
                else
                {
                    <option value="@author.Id">@author.FullName</option>
                }
            }
        </select>
        <span class="text-danger" asp-validation-for="AuthorIds"></span>
    </div>
    <div>
        <label class="mb-3">Book Category:</label><br />
        <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))"></select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>
    </div>
    <div>
        <label class="mb-3">Plant main image:</label><br />
        <input asp-for="MainImage" class="form-control" accept="image/*" /><br />
        <span class="text-danger" asp-validation-for="MainImage"></span>
    </div>
    <div>
        <label class="mb-3">Plant another images:</label><br />
        <input asp-for="AnotherImages" class="form-control" accept="image/*" /><br />
        <span class="text-danger" asp-validation-for="AnotherImages"></span>
    </div>
    <div>

        <label class="mb-3">Plant main image:</label><br />
        <div class="d-flex">
            <div class="col-lg-2">
                <div class="for-image">
                    <strong class="removeable">Remove</strong>
                    <img style="width: 200px; height:300px" src="~/assets/Image/Library/@Model.BookImages.FirstOrDefault(i => i.IsMain == true)?.ImagePath" />
                    <input type="hidden" value="@Model.BookImages.FirstOrDefault(i=>i.IsMain == true)?.Id" name="ImageIds" />
                </div>
            </div>
        </div>
    </div>
    <div>
        <label class="mb-3">Plant another images:</label><br />
        <div class="d-flex justify-content-between">
            @foreach (var image in Model.BookImages.Where(i => i.IsMain == false))
            {
                <div class="col-lg-2">
                    <div class="for-image">
                        <strong class="removeable">Remove</strong>
                        <img style="width: 200px; height:300px" src="~/assets/Image/Library/@image.ImagePath" class="image-remove" />
                        <input type="hidden" value="@image.Id" name="ImageIds" />
                    </div>
                </div>
            }
        </div>

        <span class="text-danger" asp-validation-for="AnotherImages"></span>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Edit book</button>
    </div>
</form>

@section Css
{
    <style>
        .for-image:hover img {
            transition: 0.7s;
            opacity: 0.6;
        }

        .for-image {
           width: 200px;
           height: 300px;
           position: relative
        }

        .for-image:hover .removeable {
            transition: 0.7s;
            opacity: 1;
        }

        .removeable {
            z-index: 5;
            color: black;
            cursor: pointer;
            opacity: 0;
            position: absolute;
            left: 70px;
            top: 140px;
        }
    </style>
}
@section Scripts
{
    <script>
        $(".removeable").click(function () {
            this.parentNode.remove();
        })
    </script>
}

